@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.react-datepicker-wrapper {
    display: inline-block;
    padding: 0;
    border: 0;
    width: fit-content;
    color: white;
  }

  .react-datepicker__input-container {
    color: white;
  }